---
import "@fontsource-variable/inter";
import "@/globals.css";
import { Button } from "@/app/components/ui/button";
import { Input } from "@/app/components/ui/input";
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "@/app/components/ui/card";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="feather.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>PackLighter</title>
  </head>
  <body class="min-h-[100svh] flex flex-col">
    <Card className="m-auto max-w-lg w-full">
      <CardHeader>
        <CardTitle>Resize Image</CardTitle>
      </CardHeader>
      <CardContent>
        <form
          action="/api/image/resize"
          method="post"
          class="flex flex-col gap-2"
        >
          <Input type="file" name="file" id="file" accept="image/*" />
          <Button type="submit">Submit</Button>
        </form>
      </CardContent>
    </Card>
  </body>
</html>
