---
import LoginButton from "@/components/login-button";
import RootLayout from "@/layouts/root-layout.astro";
import { Earth } from "lucide-react";
---

<RootLayout>
  <main
    class="mx-auto flex min-h-[100svh] w-full max-w-screen-sm flex-col gap-6 px-4 pt-[10vh]"
  >
    <div class="flex items-center justify-center">
      <Earth size="5rem" className="text-primary" />
    </div>
    <section
      class="prose w-full max-w-none text-center dark:prose-invert prose-h1:mb-2 prose-h1:text-5xl"
    >
      <h1 class="">TrekReady</h1>
      <p class="">The packing tool of travel champions</p>
    </section>
    <section class="flex flex-col gap-2">
      <LoginButton className="w-full" provider="google" />
      <LoginButton className="w-full" provider="github" />
    </section>
  </main>
</RootLayout>
