---
import LoginButton from "@/components/login-button";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <main
    class="mx-auto flex min-h-[100svh] w-full max-w-lg flex-col gap-6 px-4 pt-[10vh]"
  >
    <div class="flex items-center justify-center">
      <i class="text-primary fa-solid fa-earth text-[5rem]"></i>
    </div>
    <section
      class="prose w-full max-w-none text-center dark:prose-invert prose-h1:mb-2 prose-h1:text-5xl"
    >
      <h1 class="">LighterTravel</h1>
      <p class="">The packing tool of travel champions</p>
    </section>
    <section class="flex flex-col gap-2 items-center">
      <LoginButton className="w-full" provider="google" />
      <span class="text-xs text-muted-foreground"
        >More login options coming soon!</span
      >
      <!-- <LoginButton className="w-full" provider="github" /> -->
    </section>
  </main>
</RootLayout>
