@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;

    --background: 180 8% 96%;
    --foreground: 150 8% 5%;

    --card: 160 10% 95%;
    --card-foreground: 150 8% 5%;

    --popover: 160 10% 94%;
    --popover-foreground: 150 8% 5%;

    --primary: 160 84% 39%;
    --primary-foreground: 120 9% 2%;

    --secondary: 160 12% 91%;
    --secondary-foreground: 150 8% 5%;

    --muted: 165 8% 91%;
    --muted-foreground: 160 9% 45%;

    --accent: 165 8% 91%;
    --accent-foreground: 150 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 9% 87%;
    --input: 160 9% 80%;
    --ring: 160 36% 72%;

    --radius: 0.6rem;
  }

  .dark {
    color-scheme: dark;

    --background: 160 7% 8%;
    --foreground: 180 9% 98%;

    --card: 160 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 160 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 160 84% 39%;
    --primary-foreground: 120 9% 2%;

    --secondary: 157 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 158 7% 29%;
    --muted-foreground: 159 8% 49%;

    --accent: 160 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 156 8% 15%;
    --input: 158 9% 18%;
    --ring: 160 84% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-screen overflow-hidden bg-background text-foreground;
  }
}

@layer utilities {
  .container2 {
    @apply mx-auto w-full max-w-screen-lg px-4;
  }
}
