---
import UserAvatar from "@/components/user-avatar";
import { hc } from "hono/client";
import { type AppType } from "@/api";
import SidebarButton from "@/components/side-bar-button.tsx";
import SideBar from "@/components/side-bar.tsx";

const headers = Object.fromEntries(Astro.request.headers);
const client = hc<AppType>(Astro.url.origin, { headers });

const res = await client.api.auth.me.$get();
const user = await res.json();
---

<div id="app-container" class="flex w-full flex-1">
  <SideBar client:load />
  <div id="main-container" class="flex flex-col flex-1 h-[100svh]">
    <header class="flex h-14 items-center border-b">
      <SidebarButton client:load />
      <div class="flex w-full items-center gap-4 p-4">
        <div class="flex flex-1 items-center justify-between">
          <slot name="header" />
        </div>
        <UserAvatar client:load user={user} />
      </div>
    </header>
    <main class="flex-1">
      <slot />
    </main>
  </div>
</div>
