---
import Logo from "@/components/logo";
import RootLayout from "./root-layout.astro";
---

<RootLayout>
  <main class="container2 py-8 grid gap-10">
    <Logo />
    <div
      class="prose prose-sm dark:prose-invert max-w-none prose-h2:before:content-['#_'] prose-h2:before:text-primary"
    >
      <slot />
    </div>
  </main>
</RootLayout>
