---
import { ThemeListener } from "@/lib/theme/theme-listener";
import { cn } from "@/lib/utils";
import "@fontsource-variable/inter";
import "@/globals.css";

const theme = Astro.cookies.get("theme")?.value;
---

<html lang="en" class={cn(theme === "dark" && "dark")}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="earth.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>TrekReady</title>
  </head>
  <body class="min-h-[100svh] flex flex-col">
    <ThemeListener client:load />
    <slot />
  </body>
</html>
