---
import RootLayout from "@/layouts/root-layout.astro";
import { getExpandedList, getUser } from "@/lib/helpers";

import ViewerList from "@/components/list-viewer/viewer-list";

const { listId = "" } = Astro.params;
const list = await getExpandedList(listId);

if (!list) {
  return new Response("List not found", { status: 404 });
}

if (!list.isPublic) {
  return new Response("List is not public", { status: 403 });
}

const listOwner = await getUser(list.userId);

if (!listOwner) {
  return new Response("List owner not found", { status: 404 });
}
---

<RootLayout>
  <main class="overflow-auto h-full">
    <div class="container2 py-8 pb-20">
      <ViewerList client:load list={list} />
    </div>
  </main>
</RootLayout>
