---
import RootLayout from "@/layouts/root-layout.astro";
import { getExpandedList, getUser } from "@/lib/helpers";

import ViewerList from "@/components/list-viewer/viewer-list";
import RadixProvider from "@/components/base/radix-provider";
import { Badge, Button, Link } from "@radix-ui/themes";

const { listId = "" } = Astro.params;
const list = await getExpandedList(listId);

if (!list) {
  return new Response("List not found", { status: 404 });
}

if (!list.isPublic) {
  return new Response("List is not public", { status: 403 });
}

const listOwner = await getUser(list.userId);
const isListOwner = Astro.locals.user?.id === list.userId;

if (!listOwner) {
  return new Response("List owner not found", { status: 404 });
}
---

<RootLayout>
  <RadixProvider>
    <main class="overflow-auto h-full">
      <div class="container2 py-8 pb-20 grid gap-4">
        <header class="flex flex-col sm:flex-row justify-between gap-2 sm:items-center">
          <Badge className="w-fit">
            Created by {listOwner.name} using <Link href="/">LightTravel</Link>
          </Badge>
          {
            isListOwner && (
              <a href={`/list/${listId}`}>
                <Button variant="soft">
                  <i class="fa-solid fa-pen-to-square" />
                  <span>Edit List</span>
                </Button>
              </a>
            )
          }
        </header>
        <ViewerList client:load list={list} />
      </div>
    </main>
  </RadixProvider>
</RootLayout>
